parameters:
  level: 5
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    - '#Call to an undefined method Behat\\Testwork\\Environment\\Environment::getContext#'
